<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>DevLink - view my profile</title>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src="resources/js/bootstrap.js"></script>
<link rel="stylesheet" href="resources/css/bootstrap.css">
<link rel="stylesheet" href="resources/css/home/home.css">
<script src="resources/js/home/home.js"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.0.12/js/all.js"
	integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR"
	crossorigin="anonymous"></script>	
</head>
<body>
	<div id="contents" style="text-align:center;">
		<div style="background-color: white-space;height:100%;width: 15%;float: left;display: inline-block;">asdfasdf</div>
		<div style="width:70%;float:none;display: inline-block">
			<div class="card border-light" style="width:100%;">
			  <div class="card-header" style="padding:0px;border: none;"><img src="resources/img/me/profileback2.png" style="border: none;width:100%;"></div>
			  <div class="card-body" style="text-align: left;">
			    <h4 class="card-title">Profile</h4>
			    <img src="resources/img/me/propic.jpg" style="border: none;width:15%;height:20%">
			    <h4 class="card-title" style="maring-top:11px;">Chanho Kuk</h4>
			    <p class="card-text">--</p>
			    <p class="card-text">서울특별시 송파구 마천1동 성내천로 47길 38 파크데일아파트 2211동 15666dfdasdfasdasdff호</p>
			    <p class="card-text">서울특별시 송파구 마천1동 성내천로 47길 38 파크데일아파트 2211동 15666dfdasdfasdasdff호</p>
			  </div>
			</div>
		</div>
		<div style="background-color: white-space;height: 100%;width: 15%;float: right;display: inline-block;">bbcccccb</div>
	</div>
</body>
</html>